<!DOCTYPE html>
<html>
<head>
    <title>Unit Testing : Filters</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://code.jquery.com/qunit/qunit-1.14.0.css">
    <script src="/em/libs/jquery/jquery.js"></script>
    <script src="/em/libs/handlebars/handlebars.js"></script>
    <script src="/em/libs/ember/prod.ember.js"></script>
    <script src="/em/components/autocomplete/js/autocomplete.js"></script>
    <script src="/em/components/filter/js/filter.js"></script>
    <script src="/em/libs/jquery-qunit/jquery-qunit.js"></script>
    <script src="/em/libs/ember-qunit/ember-qunit.js"></script>
    <script src="/em/components/filter/test/tests.js"></script>
</head>
<body>
<div id="qunit"></div>
<div id="ember-testing"></div>

</body>
</html>