#cc-auto > .cc-autocomplete{
    position: absolute;
    list-style: none;
    display:block;
    margin:auto;
    min-width: 160px;
    _width:160px;
    z-index: 1000;
    background-color: #ffffff;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    float:left;
    padding: 4px 0;
}

#cc-auto .cc-autocomplete .cc-menu-item{
    padding: 2px 6px;
    cursor: pointer;
}

#cc-auto .cc-autocomplete .is-active {
    background: #d9d9d9;
}

#cc-auto > .none{
    display:none;
}

#cc-auto li {
    list-style: none;
}
