<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AutoComplete Demo</title>
    <link rel="stylesheet" href="/em/components/datatable/css/datatable.css">
</head>
<body>
<script type="text/x-handlebars">
    {{outlet}}
    <div
    {{bind-attr class=cssClass}}></div>
    {{#data-table linkRouter='application' table=this propSort="propSort" previousPage="previousPage" nextPage="nextPage" loading="loading"
    ready="ready" openModal="openModal" closeModal="closeModal"}}
    <h3 style="text-align:center">Datatable example</h3><br/>
    {{/data-table}}
</script>

<script type='text/x-handlebars' data-template-name='components/data-table'>
    {{yield}}
    <div
    {{bind-attr class=cssClass}}>
    </div>
    <div class='table-component'>
        <div class='topBox'>
            <div class='searchBox'>
                {{#if table.searchable}}
                <span>Search :</span>{{input type='text' value=table.search}}<br/>
                {{/if}}
            </div>

            <div class='perPage'>
                <span>Rows :</span> {{view Ember.Select content=table.perPageSelector value=table.itemsPerPage}}
            </div>

            <div class='filter'>
                <span>Filters :</span> {{view Ember.Select content=table.availableFilters value=filterValues}}
                <span>Applied Filters</span>
            </div>

        </div>
        <div class="table">
            <table class='dataTable'>
                <thead>
                <tr>
                    {{#each header in table.headers}}
                    <th>
                    {{#if table.queryParamsEnabled}}
                        {{#link-to linkRouter (query-params page=1 sortBy=header.name order=header.order) target="controller"}}{{header.name}}{{/link-to}}
                    {{else}}
                        <a href=''{{action 'getSortedContent' header.name}} >{{header.name}}</a></th>
                    {{/if}}
                    </th>
                    {{/each}}
                </tr>
                </thead>

                <tbody>
                {{#each table.paginatedContent }}
                <tr>
                   <td>{{id}}</td><td>{{name}}</td><td>{{age}}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class='paginator'>

            {{#if table.queryParamsEnabled}}
            <div class="previousPage">{{#link-to linkRouter (query-params page=table.prevPage) target="controller"}}Prev{{/link-to}}
            </div>
            {{else}}
            <div class='previousPage'>{{#if table.prev}}<a href='' {{action getPreviousPage}}>prev</a>
                {{else}}prev{{/if}}
            </div>
            {{/if}}

            <div style='text-align: center;width: 50%;float: left;'>
                <div class=' pageInfo
            '>{{table.currentPage}} of {{table.availablePages}}
                </div>
            </div>
            {{#if table.queryParamsEnabled}}
            <div class="nextPage">{{#link-to linkRouter (query-params page=table.nextPage) target="controller"}}Next{{/link-to}}
            </div>
            {{else}}
            <div class='nextPage'>{{#if table.next}}<a href=''{{action getNextPage}}>next</a>{{else}}next{{/if}}
            </div>
            {{/if}}
        </div>


    </div>
</script>

<script type="text/x-handlebars" data-template-name="pagination">
    {{#with view}}
    {{#link-to 'table.page' page}}
    {{content.page_id}}
    {{/link-to}}
    {{/with}}
</script>

<script src="/em/libs/jquery/jquery.js"></script>
<script src="/em/libs/handlebars/handlebars.js"></script>
<script src="/em/libs/ember/canary.ember.js"></script>
<script src="/em/components/datatable/js/datatable.js"></script>
<script src="/em/components/datatable/datatable_app.js"></script>
</body>
</html>





