<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AutoComplete Demo</title>
    <link rel="stylesheet" href="/em/components/datatable/css/datatable.css">
</head>
<body>
<script type="text/x-handlebars">
    {{outlet}}
    <div
    {{bind-attr class=cssClass}}></div>
    {{#data-table table=this propSort="propSort" previousPage="previousPage" nextPage="nextPage" loading="loading"
    ready="ready" openModal="openModal" closeModal="closeModal"}}
    <h3 style="text-align:center">Datatable example</h3><br/>
    {{/data-table}}
</script>

<script type='text/x-handlebars' data-template-name='components/data-table'>
    {{yield}}
    <div
    {{bind-attr class=cssClass}}>
    </div>
    <div class='table-component'>
        <div class='topBox'>
            <div class='searchBox'>
                {{#if table.searchable}}
                <span>Search :</span>{{input type='text' value=table.search}}<br/>
                {{/if}}
            </div>
            <div class='perPage'>
                <span>Rows :</span> {{view Ember.Select content=table.perPageSelector value=table.perPage}}
            </div>
            {{#each this.filters}}
            <div class='filter'>
                <span>{{name}} :</span> {{view Ember.Select content=filter value=filterValues}}
            </div>
            {{/each}}

        </div>
        <div class="table">
            <table class='dataTable'>
                <thead>
                <tr>
                    {{#each table.properties}}
                    <th>
                        <a href=''{{action 'getSortedContent' this}} >{{this}}</a></th>
                    </th>
                    {{/each}}
                </tr>
                </thead>

                <tbody>
                {{#each table.data }}
                <tr>
                   <td>{{id}}</td><td>{{name}}</td><td>{{age}}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class='paginator'>
            <div class='previousPage'>{{#if table.prev}}<a href='' {{action getPreviousPage}}>prev</a>
                {{else}}prev{{/if}}
            </div>
            <div style='text-align: center;width: 50%;float: left;'>
                <div class=' pageInfo
            '>{{table.currentPage}} of {{table.totalPages}}
                </div>
            </div>
            <div class='nextPage'>{{#if table.next}}<a href='' {{action getNextPage}}>next</a>{{else}}next{{/if}}
            </div>
        </div>
    </div>
</script>

<script src="/em/libs/jquery/jquery.js"></script>
<script src="/em/libs/handlebars/handlebars.js"></script>
<script src="/em/libs/ember/debug.ember.js"></script>
<script src="/em/components/datatable/js/datatable.js"></script>
<script src="/em/components/datatable/datatable_app.js"></script>
</body>
</html>





