<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DataTable Demo</title>
    <link rel="stylesheet" href="/em/components/datatable/css/datatable.css">
</head>
<body>
<script type="text/x-handlebars">
    {{outlet}}
    <div
    {{bind-attr class=cssClass}}></div>
    <h2 style="text-align:center;">DataTable Demo</h2>
    {{data-table table=this}}
</script>

<script type="text/x-handlebars" data-template-name="pagination">
    {{#with view}}
    {{#link-to 'table.page' page}}
    {{content.page_id}}
    {{/link-to}}
    {{/with}}
</script>

<script src="/em/libs/jquery/jquery.js"></script>
<script src="/em/libs/handlebars/handlebars.js"></script>
<script src="/em/libs/ember/canary.ember.js"></script>
<script src="/em/components/datatable/js/datatable.js"></script>
<script src="/em/components/datatable/datatable_app.js"></script>
</body>
</html>





